<div class="container">
  <!-- filter buttons -->
  <div class="filter-buttons">
    <button (click)="filterCards(null)" class="active" data-name="all">Show all</button>
    <button (click)="filterCards(category.name)" *ngFor="let category of categories">{{category.name}}</button>
  </div>

  <!-- Images Cards -->
  <div class="filterable-cards">

    <div class="card" *ngFor="let item of filteredCategories">
      <img src="{{item.img}}" alt="">
      <div class="card-body">
        <h6 class="card-title" *ngFor="let tag of item.tags">{{tag}}</h6>
        <p class="card-text">{{item.disc}}</p>
        <p class="card-text">Author: {{item.author}}</p>
        <p class="card-text">Date: {{item.date}}</p>
      </div>
    </div>

  </div>
</div>